<div style="text-align: center;">

  <div class = "mat-display-3">
    Parent component
  </div>  

  <!-- Normal HTML tag -->
  <h1> Angular startup </h1>

  <!-- Interpolation -->
  <span style="color: blueviolet; font-size: 2rem;"> {{ title }} </span>

  <!-- Conditional rendering using *ngIf directive -->
  <div *ngIf = "disConfig; then thenblock; else elseblock" ></div>

  <ng-template #thenblock>
    <div class = "mat-display-2">
      Msite configuration
    </div>
  </ng-template>

  <ng-template #elseblock>
    <div class = "mat-display-2">
      Msite Preparation
    </div>
  </ng-template>

  <!-- Angular Material Button -->
  <button mat-raised-button (click) = "changBlock()" > Material Button</button>

  <h1 color = "primary">Material Coloured Buttons</h1>

  <!-- Colored buttons -->
  <div>
    <button mat-raised-button color = "primary" > Primary Mat-But </button>
    <button mat-raised-button color = "accent" > Accent Mat-But </button>
    <button mat-raised-button color = "warn" > Warn Mat-But </button>
  </div>

  <!-- Angular material Typograpy for text -->
  <div class = "mat-headline">Headlines</div>
  <div class = "mat-title">Title</div>
  <div class = "mat-subheading-2">Subtitle - 1</div>
  <div class = "mat-subheading-1">Subtitle - 2</div>

  <!-- Message from child component -->
  <h1> {{ fromChild.name }} </h1>
  <h1> {{ fromChild.ComponentName }} </h1>

</div>

<!-- Chile component -->
<app-son (childEvent) = "fromChild = $event" [parentData] = "name"></app-son>